DISCORD_BOT_TOKEN=
DISCORD_CHANNEL_ID=
DATABASE_URL=postgres://diskcount:diskcount@localhost:5432/diskcount
WEB_ADMIN_PASSWORD=
DISKPRICES_URL=https://diskprices.com/?locale=fr
PRICEPERGIG_ENABLED=true
PRICEPERGIG_API_URL=https://api.pricepergig.com/drives
PRICEPERGIG_MARKET=amazon.fr
PRICEPERTB_URLS=https://pricepertb.com/fr
SOURCE_HEADLESS_FALLBACK=true
BYPARR_URL=http://byparr:8191
WIREGUARD_CONFIG_FILE=
SCRAPE_INTERVAL_CRON=@every 4h
NOTIFICATION_PRICE_DROP_PCT=2.0
USER_AGENT=DiskCount/2.0
EBAY_CLIENT_ID=
EBAY_CLIENT_SECRET=
EBAY_SEARCH_QUERIES=disque dur interne,hard drive internal,ssd interne
KEEPA_API_KEY=
KEEPA_ASINS=
KEEPA_DOMAIN=4
DEALABS_RSS_URLS=
IDEALO_FEED_URLS=
LEDENICHEUR_FEED_URLS=
LEBONCOIN_FEED_URLS=
ALTERNATE_URLS=https://www.alternate.fr/listing.xhtml?q=hdd,https://www.alternate.fr/listing.xhtml?q=ssd
DARTY_URLS=https://www.darty.com/nav/q/informatique-disque-dur-ssd.html
MATERIEL_URLS=https://www.materiel.net/disque-dur-interne/l430/,https://www.materiel.net/disque-ssd/l429/
CYBERTEK_URLS=https://www.cybertek.fr/disque-ssd-49.aspx,https://www.cybertek.fr/disque-dur-3-5-interne-3.aspx
CORSAIR_URLS=https://www.corsair.com/fr/fr/c/data-storage
PCCOMPONENTES_URLS=https://www.pccomponentes.fr/categories/disques-durs/disque-ssd
TOPBIZ_URLS=https://www.topbiz.fr/95-disques-durs-ssd,https://www.topbiz.fr/96-disques-durs-internes
