TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_USER_IDS=
DATABASE_URL=postgres://diskcount:diskcount@localhost:5432/diskcount
DB_PASSWORD=<DB_PASSWORD>
DISKPRICES_URL=https://diskprices.com/?locale=fr
PRICEPERGIG_ENABLED=true
PRICEPERTB_URLS=https://pricepertb.com/fr
SOURCE_HEADLESS_FALLBACK=true
BYPARR_URL=http://byparr:8191
SCRAPE_INTERVAL_CRON=@every 4h
NOTIFICATION_PRICE_DROP_PCT=2.0
TELEGRAM_MESSAGE_DELAY_SECONDS=0.5
USER_AGENT=DiskCountBot/2.0
AMAZON_TLDS=fr,de
LDLC_ENABLED=true
ALTERNATE_TLDS=fr,de
GEIZHALS_ENABLED=true
RDC_ENABLED=true
PCPART_ENABLED=true
EBAY_CLIENT_ID=
EBAY_CLIENT_SECRET=
EBAY_SEARCH_QUERIES=disque dur interne,hard drive internal,ssd interne
KEEPA_API_KEY=
KEEPA_ASINS=
DEALABS_RSS_URLS=
IDEALO_FEED_URLS=
LEDENICHEUR_FEED_URLS=
LEBONCOIN_FEED_URLS=
