TELEGRAM_BOT_TOKEN=
DATABASE_URL=postgres://diskcount:diskcount@localhost:5432/diskcount
WEB_ADMIN_PASSWORD=
DISKPRICES_URL=https://diskprices.com/?locale=fr
PRICEPERGIG_ENABLED=true
PRICEPERGIG_API_URL=https://api.pricepergig.com/drives
PRICEPERGIG_MARKET=amazon.fr
PRICEPERTB_URLS=https://pricepertb.com/fr
SOURCE_HEADLESS_FALLBACK=true
BYPARR_URL=http://byparr:8191
SCRAPE_INTERVAL_CRON=@every 4h
NOTIFICATION_PRICE_DROP_PCT=2.0
TELEGRAM_MESSAGE_DELAY_SECONDS=0.5
USER_AGENT=DiskCountBot/2.0
EBAY_CLIENT_ID=
EBAY_CLIENT_SECRET=
EBAY_SEARCH_QUERIES=disque dur interne,hard drive internal,ssd interne
KEEPA_API_KEY=
KEEPA_ASINS=
KEEPA_DOMAIN=4
DEALABS_RSS_URLS=
IDEALO_FEED_URLS=
LEDENICHEUR_FEED_URLS=
LEBONCOIN_FEED_URLS=
